<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
  
  <div class="container">
	  
	  <h1>Add new Enquiery</h1>
	  
	  <font color="red">
		<p th:text = "${smsg}"></p>  
	  </font>
	  <font color="green">
		<p th:text = "${emsg}"></p>  
	  </font>
	  
	  
	  <form th:action="@{/enquiry}" th:object="${enq}"  method="post">
	  <table>
	  	<tr>
			  <td>Name :</td>
			  <td><input type="text" th:field="*{name}" required/></td>  
		</tr>
		
		<tr>
			  <td>PhoneNo :</td>
			  <td><input type="number" th:field="*{phoneno}" required/></td>  
		</tr>
		
		<tr>
			  <td>Class Mode :</td>
			  <td>
				  <select th:field="*{classMode}">
				  	<option value="">-select-</option>
				  	<option value="online">online</option>
				  	<option value="classroom">classroom</option>
				  </select>
			  </td>  
		</tr>
		
		<tr>
			  <td>Course Name :</td>
			  <td>
				  <select th:field="*{courseName}">
				  	<option value="">-select-</option>
				  	<option value="java">java</option>
				  	<option value="python">python</option>
				  	<option value="devops">devops</option>
				  </select>
			  </td>  
		</tr>
		
		<tr>
			  <td>Enqiry Status :</td>
			  <td>
			  <select th:field="*{enqStatus}">
				  	<option value="">-select-</option>
				  	<option value="New">New</option>
				  	<option value="Enrolled">Enrolled</option>
				  	<option value="Lost">Lost</option>
				  </select>  
				</td>  
		</tr>

		<tr>
			  <td></td>
			  <td><input type="submit" value="Add" class="btn btn-primary"/></td>  
		</tr>
		
		</table>
	  </form> 
	  
	  	  
	  <a href="enquries">view enquries</a>
	  <a href="logout">logout</a>
	  
	  </div>
	    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>