<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
  
  <div class="container">
	  
	  <h2>Welcome to dasboard</h2>
	  <a href="enquiery" class="btn btn-primary">Add New Enqiery</a>
	  
	  <form th:action="@{/filter-enquries}" method="post" th:object="${searchCriteria}">
		  
		  <table>
		
			  <td>Class Mode :</td>
			  <td>
				  <select th:field="*{classMode}">
				  	<option value="">-select-</option>
				  	<option value="online">online</option>
				  	<option value="classroom">classroom</option>
				  </select>
			  </td>  
		
			  <td>Course Name :</td>
			  <td>
				  <select th:field="*{courseName}">
				  	<option value="">-select-</option>
				  	<option value="java">java</option>
				  	<option value="python">python</option>
				  	<option value="devops">devops</option>
				  </select>
			  </td>  
	
		
		
			  <td>Enqiry Status :</td>
			  <td>
			  <select th:field="*{enqStatus}">
				  	<option value="">-select-</option>
				  	<option value="New">New</option>
				  	<option value="Enrolled">Enrolled</option>
				  	<option value="Lost">Lost</option>
				  </select>  
				</td>  
		
			  <td></td>
			  <td><input type="submit" value="search" class="btn btn-primary"/></td>  
		
		</table>
		  
		  
	  </form>
	  
	  <table class="table table-bordered">
		  <thead>
			  <tr>
				  <th>Name</th>
				  <th>phoneNo</th>
				  <th>CourseName</th>
				  <th>Class Mode</th>
				  <th>status</th>
			  </tr>
		  </thead>
		  
		  <tbody>
			  <tr th:each="enq : ${enquries}">
				  <td th:text="${enq.name}"/>
				  <td th:text="${enq.phoneno}"/>
				  <td th:text="${enq.classMode}"/>
				  <td th:text="${enq.courseName}"/>
				  <td th:text="${enq.enqStatus}"/>
			  </tr>
		  </tbody>
	  </table>
	  
	  <br/>
	  

	 
	 <br/>
	  
	  <a href="logout">Log out</a>
	
	  
	  </div>



   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>