<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<title>Hello, world!</title>
</head>

<body>
	<div class="container">

		<h1>Register here</h1>

		<font color="red">
			<p th:text="${errmsg}"></p>
		</font>
		<font color="green">
			<p th:text="${sucmsg}"></p>
		</font>

		<form th:action="@{/registeruser}" th:object="${registerForm}" method="post">
			<table>
				<tr>
					<td>userName :</td>
					<td><input type="text" th:field="*{userName}" required /></td>
				</tr>

				<tr>
					<td>email :</td>
					<td><input type="email" th:field="*{email}" required /></td>
				</tr>



				<tr>
					<td>Country :</td>
					<td>
						<select th:field="*{countryID}" id="countryID" class="form-select" required>
							<option value="">-select-</option>
							<option th:each="entry : ${countries.entrySet()}" th:value="${entry.key}"
								th:text="${entry.value}">
						</select>
					</td>
				</tr>

				<tr>
					<td>state :</td>
					<td>
						<select th:field="*{stateID}" id="stateID" class="form-select" required>
							<option value="">-select-</option>
							<option th:each="entry : ${states.entrySet()}" th:value="${entry.key}"
								th:text="${entry.value}">
						</select>
					</td>
				</tr>

				<tr>
					<td>city :</td>
					<td>
						<select th:field="*{cityID}" id="cityID" class="form-select" required>
							<option value="">-select-</option>
							<option th:each="entry : ${cities.entrySet()}" th:value="${entry.key}"
								th:text="${entry.value}">
						</select>
					</td>
				</tr>

				<tr>
					<td></td>
					<td><input type="submit" value="Register" class="btn btn-primary" /></td>
				</tr>


			</table>
		</form>


		<a href="/">login</a>

	</div>
	
	<script>
					$(document).ready(function () {

						$('countryID').on("change", function () {
							$("#stateID").find("option").remove();
							$("#cityID").find("option").remove();
							$.ajax({

								type: "GET",
								url: "/states?countryID=" + $("#countryID").val(),
								success: function (result) {
									console.log(result);
									$.each(result, function (key, value) {
										$('<option>').val(key).text(value).appendTo("#stateID")
									});
								}

							});


						});

						$("stateID").on("change", function () {
							$("#cityID").find("option").remove();
							$.ajax({

								type: "GET",
								url: "/cities?stateID=" + $("#stateID").val(),
								success: function (result) {
									console.log(result);
									$.each(result, function (key, value) {
										$("<option>").val(key).text(value).appendTo("#cityID")
									});
								}

							});


						});



					});

				</script>
	
	
</body>

</html>